.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  right: 30px;
  top: 10px;
  height: 40px;
  line-height: 40px;
}

.nav ul {
  margin: 0;
  padding-left: 0px;
}

.nav li {
  display: inline-block;
  position: relative;
  margin: 0 0.6em;
}

.nav .nav-link {
  cursor: pointer;
}

.nav-link:hover, .nav-link.current {
  border-bottom: 3px solid #41b883;
}

.nav-link {
  padding-bottom: 3px;
  white-space: nowrap;
}

a {
  text-decoration: none;
  color: #304455;
}
